<a href="https://colab.research.google.com/github/qowogks123/AISPARK_challenge/blob/main/AI_SPARK_Voting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#üìå**2023 Ïó∞Íµ¨Í∞úÎ∞úÌäπÍµ¨ AI SPARK Ï±åÎ¶∞ÏßÄ - ÏÇ¨ÌöåÎ¨∏Ï†úÌï¥Í≤∞Ìòï** 
##**Î∂ÄÏ†ú : (Ï¥àÎØ∏ÏÑ∏Î®ºÏßÄ(PM2.5) Ïò§ÏóºÎèÑ Îã®Í∏∞ ÏòàÏ∏° Î™®Îç∏ ÎßåÎì§Í∏∞)**
   
### **ÌåÄÏõê: Î∞∞Ïû¨Ìïú, ÍπÄÏ†ïÌòÑ, ÍπÄÎØºÏàò**

### **1. Íµ¨Í∏Ä ÎìúÎùºÏù¥Î∏å ÎßàÏö¥Ìä∏**

In [ ]:
# Íµ¨Í∏Ä ÎìúÎùºÏù¥Î∏å ÎßàÏö¥Ìä∏
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### **2. ÌïÑÏöî ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∞è Î™®Îìà Ìò∏Ï∂ú**

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

### **3-1 Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ Î∂àÎü¨Ïò§Í∏∞**

1.   ÌïôÏäµ Îç∞Ïù¥ÌÑ∞
2.   Í∏∞ÏÉÅÏ†ïÎ≥¥Í∞Ä Ìè¨Ìï®Îêú AWS Îç∞Ïù¥ÌÑ∞

3. Í≤∞Ï∏°Ïπò ÌôïÏù∏

In [ ]:
train_df = pd.read_csv('/content/drive/MyDrive/data/train.csv')
train_df

        Ïó∞ÎèÑ           ÏùºÏãú  Ï∏°Ï†ïÏÜå  PM2.5
0        0  01-01 00:00  Î™®Ï¢ÖÎèô    NaN
1        0  01-01 01:00  Î™®Ï¢ÖÎèô    NaN
2        0  01-01 02:00  Î™®Ï¢ÖÎèô    NaN
3        0  01-01 03:00  Î™®Ï¢ÖÎèô    NaN
4        0  01-01 04:00  Î™®Ï¢ÖÎèô    NaN
...     ..          ...  ...    ...
596083   3  12-31 19:00  ÌôçÏÑ±Ïùç  0.060
596084   3  12-31 20:00  ÌôçÏÑ±Ïùç  0.052
596085   3  12-31 21:00  ÌôçÏÑ±Ïùç  0.044
596086   3  12-31 22:00  ÌôçÏÑ±Ïùç  0.052
596087   3  12-31 23:00  ÌôçÏÑ±Ïùç  0.060

[596088 rows x 4 columns]

In [ ]:
aws_df = pd.read_csv('/content/drive/MyDrive/data/aws.csv')
aws_df

         Ïó∞ÎèÑ           ÏùºÏãú    ÏßÄÏ†ê    Í∏∞Ïò®(¬∞C)   ÌíçÌñ•(deg)   ÌíçÏÜç(m/s)  Í∞ïÏàòÎüâ(mm)  ÏäµÎèÑ(%)
0         0  01-01 00:00    Í≥ÑÎ£°  0.154818  0.410833  0.033248      0.0  0.830
1         0  01-01 01:00    Í≥ÑÎ£°  0.142180  0.148611  0.030691      0.0  0.853
2         0  01-01 02:00    Í≥ÑÎ£°  0.173776  0.203889  0.040921      0.0  0.802
3         0  01-01 03:00    Í≥ÑÎ£°  0.169036  0.330556  0.048593      0.0  0.816
4         0  01-01 04:00    Í≥ÑÎ£°  0.169036  0.000000  0.007673      0.0  0.827
...      ..          ...   ...       ...       ...       ...      ...    ...
1051915   3  12-31 19:00  ÌôçÏÑ±Ï£ΩÎèÑ  0.317536  0.953333  0.230179      0.0  0.630
1051916   3  12-31 20:00  ÌôçÏÑ±Ï£ΩÎèÑ  0.309637  0.984167  0.253197      0.0  0.648
1051917   3  12-31 21:00  ÌôçÏÑ±Ï£ΩÎèÑ  0.308057  0.966667  0.265985      0.0  0.648
1051918   3  12-31 22:00  ÌôçÏÑ±Ï£ΩÎèÑ  0.306477  0.976667  0.235294      0.0  0.642
1051919   3  12-31 23:00  ÌôçÏÑ±Ï£ΩÎèÑ  0.303318  0.995278  0.168798      0.0  0.667

[1051920 rows x 8 columns]

In [ ]:
missing_values = train_df.isnull().sum()

In [ ]:
# Ï¥àÎØ∏ÏÑ∏Î®ºÏßÄ - PM2.5ÏóêÏÑú 15542Ïùò Í≤∞Ï∏° ÌôïÏù∏
missing_values

Ïó∞ÎèÑ           0
ÏùºÏãú           0
Ï∏°Ï†ïÏÜå          0
PM2.5    15542
dtype: int64

### **3-2 Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨**

1. PM2.5 Ï∏°Ï†ïÏÜå ÏúÑÏπòÏôÄ AWS(Í∏∞ÏÉÅÏ†ïÎ≥¥) Ï∏°Ï†ï ÏßÄÏ†êÏùò ÏúÑÏπòÍ∞Ä Î∂ÑÏÇ∞ÎêòÏñ¥ÏûàÏúºÎØÄÎ°ú Ïù∏Í∑º ÏßÄÏ†êÏúºÎ°ú Îß§Ìïë 
2. Ïó∞ÎèÑ,ÏùºÏãú,Ï∏°Ï†ïÏÜå Ïª¨Îüº Í∏∞Ï§ÄÏúºÎ°ú Î≥ëÌï©

In [ ]:
# 30ÏßÄÏ†ê 16Ï∏°Ï†ïÏÜå
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "Í≥ÑÎ£°", "ÏßÄÏ†ê"] = "ÎÖ∏ÏùÄÎèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÏÑ∏Ï≤ú", "ÏßÄÏ†ê"] = "Î¨∏Ï∞ΩÎèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "Ïò§ÏõîÎìú", "ÏßÄÏ†ê"] = "Ï†ïÎ¶ºÎèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "Ïû•Îèô", "ÏßÄÏ†ê"] = "ÏùçÎÇ¥Îèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÏÑ∏Ï¢ÖÍ∏àÎÇ®", "ÏßÄÏ†ê"] = "ÏïÑÎ¶ÑÎèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÏÑ∏Ï¢ÖÍ≥†Ïö¥", "ÏßÄÏ†ê"] = "ÏïÑÎ¶ÑÎèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "Í≥µÏ£º", "ÏßÄÏ†ê"] = "Í≥µÏ£º"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "Ï†ïÏÇ∞", "ÏßÄÏ†ê"] = "Í≥µÏ£º"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "Ïú†Íµ¨", "ÏßÄÏ†ê"] = "Í≥µÏ£º"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "Ï†ïÏïà", "ÏßÄÏ†ê"] = "Í≥µÏ£º"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "Ï≤≠Ïñë", "ÏßÄÏ†ê"] = "Í≥µÏ£º"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÎåÄÏ≤úÌï≠", "ÏßÄÏ†ê"] = "ÎåÄÏ≤ú2Îèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "Ìò∏ÎèÑ", "ÏßÄÏ†ê"] = "ÎåÄÏ≤ú2Îèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "Ï∂òÏû•ÎåÄ", "ÏßÄÏ†ê"] = "ÎåÄÏ≤ú2Îèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÏÑúÏ≤ú", "ÏßÄÏ†ê"] = "ÎåÄÏ≤ú2Îèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÎÖºÏÇ∞", "ÏßÄÏ†ê"] = "ÎÖºÏÇ∞"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÏñëÌôî", "ÏßÄÏ†ê"] = "ÎÖºÏÇ∞"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÌôçÎ∂Å", "ÏßÄÏ†ê"] = "ÌôçÏÑ±Ïùç"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÌôçÏÑ±Ï£ΩÎèÑ", "ÏßÄÏ†ê"] = "ÌôçÏÑ±Ïùç"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÏòπÎèÑ", "ÏßÄÏ†ê"] = "Ïù¥ÏõêÎ©¥"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÏïàÎèÑ", "ÏßÄÏ†ê"] = "Ïù¥ÏõêÎ©¥"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "Î∂ÅÍ≤©Î†¨ÎπÑÎèÑ", "ÏßÄÏ†ê"] = "Ïù¥ÏõêÎ©¥"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÌÉúÏïà", "ÏßÄÏ†ê"] = "ÎèôÎ¨∏Îèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÎãπÏßÑ", "ÏßÄÏ†ê"] = "ÎèôÎ¨∏Îèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÎåÄÏÇ∞", "ÏßÄÏ†ê"] = "ÎèÖÍ≥∂Î¶¨"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÏòàÏÇ∞", "ÏßÄÏ†ê"] = "ÏòàÏÇ∞Íµ∞"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÏïÑÏÇ∞", "ÏßÄÏ†ê"] = "Î™®Ï¢ÖÎèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÏÑ±Í±∞", "ÏßÄÏ†ê"] = "ÏÑ±ÏÑ±Îèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÏÑ∏Ï¢ÖÏ†ÑÏùò", "ÏßÄÏ†ê"] = "Ïã†Î∞©Îèô"
aws_df.loc[aws_df['ÏßÄÏ†ê'] == "ÏÑ∏Ï¢ÖÏó∞ÏÑú", "ÏßÄÏ†ê"] = "Ïã†Ìù•Îèô"

In [ ]:
aws_df.rename(columns = {"ÏßÄÏ†ê":"Ï∏°Ï†ïÏÜå"},inplace=True)
aws_df

         Ïó∞ÎèÑ           ÏùºÏãú  Ï∏°Ï†ïÏÜå    Í∏∞Ïò®(¬∞C)   ÌíçÌñ•(deg)   ÌíçÏÜç(m/s)  Í∞ïÏàòÎüâ(mm)  ÏäµÎèÑ(%)
0         0  01-01 00:00  ÎÖ∏ÏùÄÎèô  0.154818  0.410833  0.033248      0.0  0.830
1         0  01-01 01:00  ÎÖ∏ÏùÄÎèô  0.142180  0.148611  0.030691      0.0  0.853
2         0  01-01 02:00  ÎÖ∏ÏùÄÎèô  0.173776  0.203889  0.040921      0.0  0.802
3         0  01-01 03:00  ÎÖ∏ÏùÄÎèô  0.169036  0.330556  0.048593      0.0  0.816
4         0  01-01 04:00  ÎÖ∏ÏùÄÎèô  0.169036  0.000000  0.007673      0.0  0.827
...      ..          ...  ...       ...       ...       ...      ...    ...
1051915   3  12-31 19:00  ÌôçÏÑ±Ïùç  0.317536  0.953333  0.230179      0.0  0.630
1051916   3  12-31 20:00  ÌôçÏÑ±Ïùç  0.309637  0.984167  0.253197      0.0  0.648
1051917   3  12-31 21:00  ÌôçÏÑ±Ïùç  0.308057  0.966667  0.265985      0.0  0.648
1051918   3  12-31 22:00  ÌôçÏÑ±Ïùç  0.306477  0.976667  0.235294      0.0  0.642
1051919   3  12-31 23:00  ÌôçÏÑ±Ïùç  0.303318  0.995278  0.168798      0.0  0.667

[1051920 rows x 8 columns]

In [ ]:
merged_df = pd.merge(aws_df, train_df, on=['Ïó∞ÎèÑ','ÏùºÏãú','Ï∏°Ï†ïÏÜå'])
merged_df

,Ïó∞ÎèÑ,ÏùºÏãú,Ï∏°Ï†ïÏÜå,Í∏∞Ïò®(¬∞C),ÌíçÌñ•(deg),ÌíçÏÜç(m/s),Í∞ïÏàòÎüâ(mm),ÏäµÎèÑ(%),PM2.5
0,0,01-01 00:00,ÎÖ∏ÏùÄÎèô,0.154818,0.410833,0.033248,0.0,0.830,0.052
1,0,01-01 01:00,ÎÖ∏ÏùÄÎèô,0.142180,0.148611,0.030691,0.0,0.853,0.072
2,0,01-01 02:00,ÎÖ∏ÏùÄÎèô,0.173776,0.203889,0.040921,0.0,0.802,0.068
3,0,01-01 03:00,ÎÖ∏ÏùÄÎèô,0.169036,0.330556,0.048593,0.0,0.816,0.064
4,0,01-01 04:00,ÎÖ∏ÏùÄÎèô,0.169036,0.000000,0.007673,0.0,0.827,0.064
...,...,...,...,...,...,...,...,...,...
1051915,3,12-31 21:00,ÌôçÏÑ±Ïùç,0.308057,0.966667,0.265985,0.0,0.648,0.044
1051916,3,12-31 22:00,ÌôçÏÑ±Ïùç,0.262243,0.866944,0.043478,0.0,0.725,0.052
1051917,3,12-31 22:00,ÌôçÏÑ±Ïùç,0.306477,0.976667,0.235294,0.0,0.642,0.052
1051918,3,12-31 23:00,ÌôçÏÑ±Ïùç,0.257504,0.000000,0.000000,0.0,0.710,0.060
1051919,3,12-31 23:00,ÌôçÏÑ±Ïùç,0.303318,0.995278,0.168798,0.0,0.667,0.060

In [ ]:
# Ïûò Î≥ëÌï©ÎêòÏóàÎäîÏßÄ ÌôïÏù∏
x = merged_df.loc[merged_df["Ï∏°Ï†ïÏÜå"]=="Î™®Ï¢ÖÎèô","PM2.5"]
x

771408      NaN
771409      NaN
771410      NaN
771411      NaN
771412      NaN
          ...
806467    0.036
806468    0.048
806469    0.044
806470    0.048
806471    0.044
Name: PM2.5, Length: 35064, dtype: float64

In [ ]:
merged_df.Ï∏°Ï†ïÏÜå.unique()

array(['ÎÖ∏ÏùÄÎèô', 'Ïù¥ÏõêÎ©¥', 'ÏÑ±ÏÑ±Îèô', 'ÎèôÎ¨∏Îèô', 'ÎåÄÏ≤ú2Îèô', 'ÎèÖÍ≥∂Î¶¨', 'ÎÖºÏÇ∞', 'Í≥µÏ£º', 'ÏïÑÎ¶ÑÎèô',
       'ÏòàÏÇ∞Íµ∞', 'Î™®Ï¢ÖÎèô', 'Ïã†Î∞©Îèô', 'ÏùçÎÇ¥Îèô', 'Î¨∏Ï∞ΩÎèô', 'Ï†ïÎ¶ºÎèô', 'Ïã†Ìù•Îèô', 'ÌôçÏÑ±Ïùç'],
      dtype=object)

In [ ]:
aws_df.Ï∏°Ï†ïÏÜå.unique()

array(['ÎÖ∏ÏùÄÎèô', 'Ïù¥ÏõêÎ©¥', 'ÏÑ±ÏÑ±Îèô', 'ÎèôÎ¨∏Îèô', 'ÎåÄÏ≤ú2Îèô', 'ÎèÖÍ≥∂Î¶¨', 'ÎÖºÏÇ∞', 'Í≥µÏ£º', 'ÏïÑÎ¶ÑÎèô',
       'ÏòàÏÇ∞Íµ∞', 'Î™®Ï¢ÖÎèô', 'Ïã†Î∞©Îèô', 'ÏùçÎÇ¥Îèô', 'Î¨∏Ï∞ΩÎèô', 'Ï†ïÎ¶ºÎèô', 'Ïã†Ìù•Îèô', 'ÌôçÏÑ±Ïùç'],
      dtype=object)

In [ ]:
# Î≤†Ïù¥Ïä§ÎùºÏù∏ ÌïôÏäµ Îç∞Ïù¥ÌÑ∞ÏÖã Íµ¨ÏÑ±
merged_df.to_csv('final_df.csv')

### **4. ÏãúÍ≥ÑÏó¥ Îç∞Ïù¥ÌÑ∞ Í∞ÄÍ≥µ**

1. [ÏùºÏãú] Ïª¨ÎüºÏùÑ Ïó∞-Ïõî-Ïùº Ïãú:Î∂ÑÏúºÎ°ú Ïû¨Ï†ïÏùò 
  - Datetime Î™®Îìà ÏÇ¨Ïö©
  - pd.to_Datime Î™®Îìà ÏÇ¨Ïö©
2. label EncoderÎ•º ÏÇ¨Ïö©ÌïòÏó¨ Î≤îÏ£ºÌòï Î≥ÄÏàò ÏàòÏπòÎ°ú Î≥ÄÌôò

In [ ]:
# ÎçîÎØ∏ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú Ïπ¥ÌîºÌïòÏó¨ ÏÇ¨Ïö©
df = merged_df.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1051920 entries, 0 to 1051919
Data columns (total 9 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   Ïó∞ÎèÑ       1051920 non-null  int64
 1   ÏùºÏãú       1051920 non-null  object
 2   Ï∏°Ï†ïÏÜå      1051920 non-null  object
 3   Í∏∞Ïò®(¬∞C)   1032972 non-null  float64
 4   ÌíçÌñ•(deg)  1032972 non-null  float64
 5   ÌíçÏÜç(m/s)  1032972 non-null  float64
 6   Í∞ïÏàòÎüâ(mm)  1032972 non-null  float64
 7   ÏäµÎèÑ(%)    1032972 non-null  float64
 8   PM2.5    1023621 non-null  float64
dtypes: float64(6), int64(1), object(2)
memory usage: 80.3+ MB

In [ ]:
# Í≤∞Ï∏°Ïπò ÌôïÏù∏
df.isna().sum()

Ïó∞ÎèÑ             0
ÏùºÏãú             0
Ï∏°Ï†ïÏÜå            0
Í∏∞Ïò®(¬∞C)     18948
ÌíçÌñ•(deg)    18948
ÌíçÏÜç(m/s)    18948
Í∞ïÏàòÎüâ(mm)    18948
ÏäµÎèÑ(%)      18948
PM2.5      28299
dtype: int64

## Imputer ÏÇ¨Ïö©

In [ ]:
# 2020ÎÖÑÏóê 2Ïõî29ÏùºÏù¥ Ï°¥Ïû¨Ìï®ÏúºÎ°ú ÏûÑÏùòÎ°ú ÎÖÑÎèÑ Ï†ïÏùò Î∞è Îß§Ìïë
df.loc[df['Ïó∞ÎèÑ'] == 0, 'ÏùºÏãú'] = '2017-' + df.loc[df['Ïó∞ÎèÑ'] == 0, 'ÏùºÏãú']
df.loc[df['Ïó∞ÎèÑ'] == 1, 'ÏùºÏãú'] = '2018-' + df.loc[df['Ïó∞ÎèÑ'] == 1, 'ÏùºÏãú']
df.loc[df['Ïó∞ÎèÑ'] == 2, 'ÏùºÏãú'] = '2019-' + df.loc[df['Ïó∞ÎèÑ'] == 2, 'ÏùºÏãú']
df.loc[df['Ïó∞ÎèÑ'] == 3, 'ÏùºÏãú'] = '2020-' + df.loc[df['Ïó∞ÎèÑ'] == 3, 'ÏùºÏãú']

In [ ]:
# Datetime ÌòïÏãùÏúºÎ°ú Î≥ÄÌôò
df['ÏùºÏãú'] = df['ÏùºÏãú'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d %H:%M'))

In [ ]:
# ÏãúÍ≥ÑÏó¥ ÌïôÏäµÏùÑ ÏúÑÌï¥ ["ÏùºÏãú"] Ïª¨ÎüºÏùÑ Ïù∏Îç±Ïä§Î°ú ÏÑ§Ï†ïÌïúÎã§.
df = df.set_index(["ÏùºÏãú"])

In [ ]:
# labelencoderÎ•º ÏÇ¨Ïö©ÌïòÏó¨ Î≤îÏ£ºÌòï Î≥ÄÏàòÎ•º ÏàòÏπòÌòïÏúºÎ°ú Î≥ÄÌôòÌïúÎã§.
le = LabelEncoder()
df['Ï∏°Ï†ïÏÜå'] = le.fit_transform(df['Ï∏°Ï†ïÏÜå'])
df

,Ïó∞ÎèÑ,Ï∏°Ï†ïÏÜå,Í∏∞Ïò®(¬∞C),ÌíçÌñ•(deg),ÌíçÏÜç(m/s),Í∞ïÏàòÎüâ(mm),ÏäµÎèÑ(%),PM2.5
ÏùºÏãú,,,,,,,,
2017-01-01 00:00:00,0,1,0.154818,0.410833,0.033248,0.0,0.830,0.052
2017-01-01 01:00:00,0,1,0.142180,0.148611,0.030691,0.0,0.853,0.072
2017-01-01 02:00:00,0,1,0.173776,0.203889,0.040921,0.0,0.802,0.068
2017-01-01 03:00:00,0,1,0.169036,0.330556,0.048593,0.0,0.816,0.064
2017-01-01 04:00:00,0,1,0.169036,0.000000,0.007673,0.0,0.827,0.064
...,...,...,...,...,...,...,...,...
2020-12-31 21:00:00,3,16,0.308057,0.966667,0.265985,0.0,0.648,0.044
2020-12-31 22:00:00,3,16,0.262243,0.866944,0.043478,0.0,0.725,0.052
2020-12-31 22:00:00,3,16,0.306477,0.976667,0.235294,0.0,0.642,0.052
2020-12-31 23:00:00,3,16,0.257504,0.000000,0.000000,0.0,0.710,0.060
2020-12-31 23:00:00,3,16,0.303318,0.995278,0.168798,0.0,0.667,0.060

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import SimpleImputer, IterativeImputer

iterimp = IterativeImputer()
df= pd.DataFrame(iterimp.fit_transform(df), columns = df.columns)

In [ ]:
df.isna().sum()

Ïó∞ÎèÑ         0
Ï∏°Ï†ïÏÜå        0
Í∏∞Ïò®(¬∞C)     0
ÌíçÌñ•(deg)    0
ÌíçÏÜç(m/s)    0
Í∞ïÏàòÎüâ(mm)    0
ÏäµÎèÑ(%)      0
PM2.5      0
dtype: int64

In [ ]:
# ÏûÑÏãúÎ°ú Í≤∞Ï∏°ÏπòÎ•º 0ÏúºÎ°ú Ï±ÑÏõÄ
#df = df.fillna(0)

In [ ]:
# Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏
df

          Ïó∞ÎèÑ   Ï∏°Ï†ïÏÜå    Í∏∞Ïò®(¬∞C)   ÌíçÌñ•(deg)   ÌíçÏÜç(m/s)  Í∞ïÏàòÎüâ(mm)  ÏäµÎèÑ(%)  PM2.5
0        0.0   1.0  0.154818  0.410833  0.033248      0.0  0.830  0.052
1        0.0   1.0  0.142180  0.148611  0.030691      0.0  0.853  0.072
2        0.0   1.0  0.173776  0.203889  0.040921      0.0  0.802  0.068
3        0.0   1.0  0.169036  0.330556  0.048593      0.0  0.816  0.064
4        0.0   1.0  0.169036  0.000000  0.007673      0.0  0.827  0.064
...      ...   ...       ...       ...       ...      ...    ...    ...
1051915  3.0  16.0  0.308057  0.966667  0.265985      0.0  0.648  0.044
1051916  3.0  16.0  0.262243  0.866944  0.043478      0.0  0.725  0.052
1051917  3.0  16.0  0.306477  0.976667  0.235294      0.0  0.642  0.052
1051918  3.0  16.0  0.257504  0.000000  0.000000      0.0  0.710  0.060
1051919  3.0  16.0  0.303318  0.995278  0.168798      0.0  0.667  0.060

[1051920 rows x 8 columns]

In [ ]:
df

          Ïó∞ÎèÑ   Ï∏°Ï†ïÏÜå    Í∏∞Ïò®(¬∞C)   ÌíçÌñ•(deg)   ÌíçÏÜç(m/s)  Í∞ïÏàòÎüâ(mm)  ÏäµÎèÑ(%)  PM2.5
0        0.0   1.0  0.154818  0.410833  0.033248      0.0  0.830  0.052
1        0.0   1.0  0.142180  0.148611  0.030691      0.0  0.853  0.072
2        0.0   1.0  0.173776  0.203889  0.040921      0.0  0.802  0.068
3        0.0   1.0  0.169036  0.330556  0.048593      0.0  0.816  0.064
4        0.0   1.0  0.169036  0.000000  0.007673      0.0  0.827  0.064
...      ...   ...       ...       ...       ...      ...    ...    ...
1051915  3.0  16.0  0.308057  0.966667  0.265985      0.0  0.648  0.044
1051916  3.0  16.0  0.262243  0.866944  0.043478      0.0  0.725  0.052
1051917  3.0  16.0  0.306477  0.976667  0.235294      0.0  0.642  0.052
1051918  3.0  16.0  0.257504  0.000000  0.000000      0.0  0.710  0.060
1051919  3.0  16.0  0.303318  0.995278  0.168798      0.0  0.667  0.060

[1051920 rows x 8 columns]

In [ ]:
# Î≥ÄÌôòÎêòÏóàÎäîÏßÄ ÌôïÏù∏
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1051920 entries, 0 to 1051919
Data columns (total 8 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   Ïó∞ÎèÑ       1051920 non-null  float64
 1   Ï∏°Ï†ïÏÜå      1051920 non-null  float64
 2   Í∏∞Ïò®(¬∞C)   1051920 non-null  float64
 3   ÌíçÌñ•(deg)  1051920 non-null  float64
 4   ÌíçÏÜç(m/s)  1051920 non-null  float64
 5   Í∞ïÏàòÎüâ(mm)  1051920 non-null  float64
 6   ÏäµÎèÑ(%)    1051920 non-null  float64
 7   PM2.5    1051920 non-null  float64
dtypes: float64(8)
memory usage: 64.2 MB

## **5. AI ÌïôÏäµ**

- ÌÉÄÍπÉ Î≥ÄÏàò ÏßÄÏ†ïÍ≥º x, y ÏÑ§Ï†ï
- train_test_split ÏÇ¨Ïö©ÏúºÎ°ú ÌïôÏäµÍ≥º ÌÖåÏä§Ìä∏Îç∞Ïù¥ÌÑ∞ Î∂ÑÎ•ò

In [ ]:
target = "PM2.5"
y = df[target]
x = df.drop(columns = target)

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.2, random_state = 42)

In [ ]:
from sklearn.model_selection import GridSearchCV

### 5-1. *Ensemble Î™®Îç∏ ÏÇ¨Ïö©*

In [ ]:
#GridSearchCV Î•º ÏÇ¨Ïö©Ìï† Î™®Îç∏Îì§ÏùÑ Ìò∏Ï∂úÌï©ÎãàÎã§.
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor,ExtraTreesRegressor


#Î™®Îç∏Îì§ÏùÑ Ìï†ÎãπÌï† Î¶¨Ïä§Ìä∏Î•º ÎßåÎì§Ïñ¥Ï§çÎãàÎã§.
estimators = []

#estimators Î¶¨Ïä§Ìä∏Ïóê Î™®Îç∏Îì§ÏùÑ Ï∂îÍ∞ÄÌï¥Ï§çÎãàÎã§.
#model_rf = RandomForestRegressor()
#estimators.append(model_rf)

model_gbr = GradientBoostingRegressor()
estimators.append(model_gbr)

#model_etr = ExtraTreesRegressor()
#estimators.append(model_etr)

#Î™®Îì§Ïùò ÌååÎùºÎØ∏ÌÑ∞Îì§ÏùÑ Ìï†ÎãπÌï† Î¶¨Ïä§Ìä∏Î•º ÎßåÎì§Ïñ¥Ï§çÎãàÎã§.
params = []

# params Î¶¨Ïä§Ìä∏Ïóê ÏÑ±Îä•ÏùÑ ÎπÑÍµêÌïòÍ≥†ÏûêÌïòÎäî ÌååÎùºÎØ∏ÌÑ∞Îì§ Ï∂îÍ∞ÄÌï¥Ï§çÎãàÎã§.
#params_rf = {'n_estimators' : [50, 150],
#            'min_samples_split' : [1,3,4]}
#params.append(params_rf)

params_gbr = {'loss' : ['squared_error', 'absolute_error'],
             'learning_rate':[0.05,0.1],
             'n_estimators':[50,150]}
params.append(params_gbr)

#params_etr = {'n_estimators' : [50,150]}
#params.append(params_etr)

In [ ]:
from tqdm.auto import tqdm
def gridSearchCV(models,params):
    best_models=[]
    for i in tqdm(range(0,len(models))):
        model_grid = GridSearchCV(models[i], params[i], verbose=1, cv=5)
        model_grid.fit(x_train,y_train)
        best_models.append(model_grid.best_estimator_)
    return best_models

best_model_list = gridSearchCV(estimators,params)

  0%|          | 0/1 [00:00<?, ?it/s]

Fitting 5 folds for each of 8 candidates, totalling 40 fits

In [ ]:
best_model_list

[GradientBoostingRegressor(n_estimators=150)]

In [ ]:
#GridSearchCV Î•º ÌÜµÌï¥ ÏµúÏ†ÅÌôîÎêú Î™®Îç∏Îì§ÏùÑ ÏÇ¨Ïö©Ìï©ÎãàÎã§.
best_models = [
    #('model_rf', RandomForestRegressor(min_samples_split=3, n_estimators=120)),
    ('model_GBR', GradientBoostingRegressor(learning_rate=0.09, loss='absolute_error', n_estimators=130)),
    #('model_ET', ExtraTreesRegressor(n_estimators=90))
]

#ÏïôÏÉÅÎ∏î Í∏∞Î≤ïÏùÑ ÏúÑÌïú Ìå®ÌÇ§ÏßÄÎ•º Î∂àÎü¨ÏòµÎãàÎã§.
from sklearn.ensemble import VotingRegressor

#ÏïôÏÉÅÎ∏î Î™®Îç∏ÏùÑ ÌïôÏäµÏãúÏºúÏ§çÎãàÎã§.
voting_rg = VotingRegressor(estimators=best_models)
voting_rg.fit(x_train,y_train)

VotingRegressor(estimators=[('model_GBR',
                             GradientBoostingRegressor(learning_rate=0.09,
                                                       loss='absolute_error',
                                                       n_estimators=130))])

In [ ]:
from sklearn.metrics import *

pred = voting_rg.predict(x_test)
print("MAE:",mean_absolute_error(y_test,pred))
print("MSE:",mean_squared_error(y_test,pred))

MAE: 0.04148064888996399
MSE: 0.0042047030857190575

In [ ]:
test_data = pd.read_csv("/content/drive/MyDrive/data/dataset (1)/test_all.csv")

test_data.head(5)

,ÏùºÏãú,Ïó∞ÎèÑ,Ï∏°Ï†ïÏÜå,Í∏∞Ïò®(¬∞C),ÌíçÌñ•(deg),ÌíçÏÜç(m/s),Í∞ïÏàòÎüâ(mm),ÏäµÎèÑ(%),PM2.5
0,2021-01-01 00:00:00,4,11,0.244866,0.024167,0.030691,0.0,0.587,0.016
1,2021-01-01 00:00:00,4,11,0.232227,0.091944,0.012788,0.0,0.683,0.016
2,2021-01-01 01:00:00,4,11,0.222749,0.000000,0.005115,0.0,0.629,0.036
3,2021-01-01 01:00:00,4,11,0.225908,0.127222,0.012788,0.0,0.633,0.036
4,2021-01-01 02:00:00,4,11,0.206951,0.543333,0.023018,0.0,0.660,0.036

In [ ]:
test_data['ÏùºÏãú'] = test_data['ÏùºÏãú'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d %H:%M'))

In [ ]:
test_data = test_data.set_index(["ÏùºÏãú"])

In [ ]:
test_y = test_data["PM2.5"]
test_x = test_data.drop("PM2.5",axis =1)

test_iter = IterativeImputer()
test_x = pd.DataFrame(test_iter.fit_transform(test_x), columns=test_x.columns)

In [ ]:
test_x.set_index(test_data.index,inplace = True)
test_x.head(5)

                      Ïó∞ÎèÑ   Ï∏°Ï†ïÏÜå    Í∏∞Ïò®(¬∞C)   ÌíçÌñ•(deg)   ÌíçÏÜç(m/s)  Í∞ïÏàòÎüâ(mm)  ÏäµÎèÑ(%)
ÏùºÏãú
2021-01-01 00:00:00  4.0  11.0  0.244866  0.024167  0.030691      0.0  0.587
2021-01-01 00:00:00  4.0  11.0  0.232227  0.091944  0.012788      0.0  0.683
2021-01-01 01:00:00  4.0  11.0  0.222749  0.000000  0.005115      0.0  0.629
2021-01-01 01:00:00  4.0  11.0  0.225908  0.127222  0.012788      0.0  0.633
2021-01-01 02:00:00  4.0  11.0  0.206951  0.543333  0.023018      0.0  0.660

In [ ]:
test_data

Ïó∞ÎèÑ         0
Ï∏°Ï†ïÏÜå        0
Í∏∞Ïò®(¬∞C)     0
ÌíçÌñ•(deg)    0
ÌíçÏÜç(m/s)    0
Í∞ïÏàòÎüâ(mm)    0
ÏäµÎèÑ(%)      0
PM2.5      0
dtype: int64

In [ ]:
y = pd.read_csv("/content/drive/MyDrive/data/dataset (1)/answer_sample.csv")
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78336 entries, 0 to 78335
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ïó∞ÎèÑ      78336 non-null  int64
 1   ÏùºÏãú      78336 non-null  object
 2   Ï∏°Ï†ïÏÜå     78336 non-null  object
 3   PM2.5   0 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 2.4+ MB

In [ ]:
le2 = LabelEncoder()
y["Ï∏°Ï†ïÏÜå"] = le2.fit_transform(y["Ï∏°Ï†ïÏÜå"])
y

       Ïó∞ÎèÑ           ÏùºÏãú  Ï∏°Ï†ïÏÜå  PM2.5
0       4  01-03 00:00    0    NaN
1       4  01-03 01:00    0    NaN
2       4  01-03 02:00    0    NaN
3       4  01-03 03:00    0    NaN
4       4  01-03 04:00    0    NaN
...    ..          ...  ...    ...
78331   4  11-16 19:00   16    NaN
78332   4  11-16 20:00   16    NaN
78333   4  11-16 21:00   16    NaN
78334   4  11-16 22:00   16    NaN
78335   4  11-16 23:00   16    NaN

[78336 rows x 4 columns]

In [ ]:
y.loc[y["Ïó∞ÎèÑ"] == 4, "ÏùºÏãú"] = "2021-" + y.loc[y["Ïó∞ÎèÑ"]==4,"ÏùºÏãú"]

In [ ]:
y['ÏùºÏãú'] = y['ÏùºÏãú'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d %H:%M'))

In [ ]:
y = y.set_index(["ÏùºÏãú"])

In [ ]:
test_data = pd.read_csv("/content/drive/MyDrive/data/dataset (1)/answer_sample.csv.csv")

test_x = test_data.drop("id",axis=1)

for feature in cat_features:
    test_x[feature] = le.transform(test_x[feature])
    
test_x[num_features] = scaler.transform(test_x[num_features])

In [ ]:
pred = voting_rg.predict(test_x)

In [ ]:
li = []
for i in range(len(y)):
  li.append(pred[i])

In [ ]:
result = pd.read_csv("/content/drive/MyDrive/data/dataset (1)/answer_sample.csv")

result.drop(columns = ["PM2.5"],inplace = True)
result["PM2.5"] = li
result

       Ïó∞ÎèÑ           ÏùºÏãú  Ï∏°Ï†ïÏÜå     PM2.5
0       4  01-03 00:00   Í≥µÏ£º  0.052534
1       4  01-03 01:00   Í≥µÏ£º  0.061834
2       4  01-03 02:00   Í≥µÏ£º  0.051938
3       4  01-03 03:00   Í≥µÏ£º  0.054470
4       4  01-03 04:00   Í≥µÏ£º  0.053693
...    ..          ...  ...       ...
78331   4  11-16 19:00  ÌôçÏÑ±Ïùç  0.085869
78332   4  11-16 20:00  ÌôçÏÑ±Ïùç  0.087870
78333   4  11-16 21:00  ÌôçÏÑ±Ïùç  0.091012
78334   4  11-16 22:00  ÌôçÏÑ±Ïùç  0.074819
78335   4  11-16 23:00  ÌôçÏÑ±Ïùç  0.084809

[78336 rows x 4 columns]

In [ ]:
result.to_csv("/content/drive/MyDrive/data/answer1.csv")

In [ ]:
from sklearn.model_selection import GridSearchCV

# ÌååÎùºÎØ∏ÌÑ∞ ÏÑ†Ïñ∏
params = {
    'max_depth':[None,2,3,5], 
    'max_leaf_nodes':[None,3,5,7], 
    'min_samples_split':[2,4,6], 
    'min_samples_leaf':[1,2,3], 
    #'max_features':[None,'sqrt','log2',3,4,5]
    }

cv = GridSearchCV(model_r, param_grid = params, cv = 5, scoring = "mae",refit=True)

In [ ]:
print('best parameters : ', cv.best_params_)
print('best score : ', round(cv.best_score_, 4))

In [ ]:
# MSEÍ∞í ÎèÑÏ∂ú
from sklearn.metrics import *
print("MSE :",mean_squared_error(y_test,pred))

MSE : 0.0037444781932136984